<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ответ</title>
</head>
<body>
<img src="media/files/{{ image }}">
<h2>Первый вариант</h2>
{% for i in first %}
{{ i }}
{% endfor %}
процентов
<h2>Второй вариант</h2>
{% for i in second %}
{{ i }}
{% endfor %}
процентов
<h2>Третий вариант</h2>
{% for i in third %}
{{ i }}
{% endfor %}
процентов
<h2>Четвертый вариант</h2>
{% for i in forth %}
{{ i }}
{% endfor %}
процентов
<h2>Пятый вариант</h2>
{% for i in fifth %}
{{ i }}
{% endfor %}
процентов
</body>
</html>